.sidebar {
  background-color: #540d51;
  position: fixed;
  height: 100vh;
  width: 250px;
  font-size: 1.1rem;
  font-weight: 500;
}

.logo {
  text-align: center;
  color: white;
  font-size: 2.6rem;
  margin: 0;
  padding: 24px;
}

.navitems {
  list-style: none;
  margin: 24px 0;
  padding: 0;
}

.navitems a {
  text-decoration: none;
  color: white;
  letter-spacing: 0.03em;
}

.navitems li {
  padding: 6px 24px;
}

.navitems li:hover,
.navitems li:focus,
.navitems li:active {
  background-color: #73116e;
  border-radius: 10px;
}
