* {
	margin: 0;
	padding: 0;
}

html {
	font-family: 'Lato', sans-serif;
	font-size: 67.5%;
	box-sizing: border-box;
}

body {
	font-size: 1.8rem;
}

h1,
h2,
h3 {
	font-family: 'Catamaran', sans-serif;
}

h1 {
	font-size: 4.8rem;
}

h2 {
	font-size: 3.2rem;
}

h3 {
	font-size: 2.4rem;
}

.gradiented {
	background-image: radial-gradient(
		circle farthest-corner at 10.2% 55.8%,
		rgba(252, 37, 103, 1) 0%,
		rgba(250, 38, 151, 1) 46.2%,
		rgba(186, 8, 181, 1) 90.1%
	);
}
